.logo-little {
    max-width: 80px;
}
img{
    width: 100%;
    display: block;
}
.form-control{
    background-color: var(--bs-tertiary-bg);

}
/* header */
header{
    height: 60px;
}
header .container-fluid{
    background-color: #F8F9FA;
}
header .row {
    background-color: white;
}
li{
    text-decoration: none;
}
li a{
    color: black;
}
.c-orange{
    color: orange;
}
.no {
    display: block
  }

.full{
    height:100%;
} 
  .aside{
    height: 100px;
    padding: 30px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: black;
  }
  .main{
    height: calc(100vh - 60px);
  }
  .main .col-lg-12{
    padding: 30px;
    background-color: #1B72E8;
    border: 1px solid lightcoral;
  }
  .main .col-lg-12 .col-lg-4{
    padding: 20px;
    background-color: blueviolet;
    border: 1px solid red;
  }
  .main .col-lg-8{
    padding: 30px;
    background-color: greenyellow;
    border: 1px solid palevioletred;
  }
  .main .col-lg-4{
    padding: 30px;
    background-color: crimson;
    border: 1px solid pink;
  }
  .over{
    overflow: auto;
  }
  /* badge */
  .my-badge{
    background-color:#165BBA;
  }