.logo-little {
    max-width: 80px;
}
img{
    width: 100%;
    display: block;
}
.form-control{
    background-color: var(--bs-tertiary-bg);

}
/* header */
header{
    height: 60px;
}
header .container-fluid{
    background-color: #F8F9FA;
}
header .row {
    background-color: white;
}
li{
    text-decoration: none;
}
li a{
    color: #5B5858;
}
.c-orange{
    color: orange;
}
.no {
    display: block
  }

.full{
    height:100%;
} 
  .aside{
    height: 100px;
    padding: 30px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: black;
  }
  .main{
    height: calc(100vh - 60px);
  }
  .main .col-lg-12{
    padding: 20px;
    background-color: #1B72E8;
    /* border: 1px solid lightcoral; */
  }
  .main .col-lg-12 .col-lg-4{
    /* padding: 20px; */
    /* background-color: blueviolet;
    border: 1px solid red; */
  }
  .main .col-lg-8{
    /* padding: 30px; */
    /* background-color: greenyellow;
    border: 1px solid palevioletred; */
  }
  .main .col-lg-4{
    /* padding: 30px; */
    /* background-color: crimson;
    border: 1px solid pink; */
  }
  /* badge */
  .my-badge{
    background-color:#165BBA;
  }
  .img-avatar{
    width: 30px;
    height: 30px;
  }
 th{
  font-weight: normal;
 }
 .text-bg-warning {
  color: white!important;
 }
 /* hover */
 .list-unstyled li:hover{
  background-color: rgba(255, 255, 255, 0.6);
 }
 .my-badge:hover{
  background-color: rgba(22, 91, 186, 0.3);
 }
  .btn:hover{
  background-color: whitesmoke;
  border: 0;
  padding: 0;
 }
 .btn-primary{
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff; 
  --bs-btn-hover-bg: none; 
  --bs-btn-hover-border-color: none; 
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #fff; 
  --bs-btn-active-bg: none; 
  --bs-btn-active-border-color: none; 
  --bs-btn-active-shadow: none; 
  --bs-btn-disabled-color: #fff; 
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  padding: 0;
 }